@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #F5F5F5;
}

.bg-header {
    background-image: url('https://imageproxy.wolt.com/venue/661beb0f7455da2b6abe815b/0a157196-fb06-11ee-95cd-b6821f757d66_661beb0f7455da2b6abe815b_list');
    background-size: 100%; /* Aumenta a largura para 140% e mantém a altura em 120% */
    background-position: center center; /* Mantém a imagem centralizada */
    background-repeat: no-repeat;
    position: relative;
}

.bg-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1;
}

.bg-header > * {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da camada escura */
}

.swal2-container {
    font-family: 'Poppins', sans-serif;
}

.swal2-popup {
    background-color: #191919;
}

.swal2-title {
    color: #ffd700;
}

.swal2-text {
    color: #ffd700;
}

.swal2-confirm {
    background-color: #ffd700;
    color: white;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: #ffd700;
    color: yellow;
}

#swal2-html-container {
    color: #ffd700;
}

.swal2-icon.swal2-success .swal2-success-line {
    background-color: #ffd700;
}

.custom-confirm-btn {
    transition: transform 0.2s ease; /* Define a duração da animação */
}

.custom-confirm-btn:hover {
    transform: scale(1.1); /* Aplica o efeito de escala ao hover */
}

/* funções do slide */

.container-slider {
    display: flex;
    width: 100%;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.slider {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: contain; /* Garante que a imagem se encaixe no slide sem ser cortada */
    background-color: #f0f0f0; /* Adicionando um fundo para visualização em imagens menores */
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container-slider {
        min-height: 50vh;
    }

    .container-images {
        width: 100%;
        padding: 0 1rem;
    }

    .slider {
        height: 250px; 
        object-fit: contain; 
    }

    #prev-button, #next-button {
        width: 25px;
        height: 25px;
    }

    #prev-button {
        left: 10px;
    }

    #next-button {
        right: 10px;
    }
}

/* Customização do checkbox */

/* Esconde o checkbox padrão */
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Estilo do checkbox personalizado */
.custom-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

/* Caixa do checkbox */
.custom-checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #191919; /* Cor da borda */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: white; /* Cor de fundo */
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Ícone de seleção (seta) */
.custom-checkbox + label::after {
    content: '';
    position: absolute;
    left: 6px; /* Ajustado para centralizar */
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* Centraliza e gira o ícone */
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* Quando o checkbox está marcado */
.custom-checkbox:checked + label::before {
    background-color: #191919; /* Cor do fundo quando marcado */
    border-color: #191919; /* Cor da borda quando marcado */
}
.custom-checkbox:checked + label::after {
    opacity: 1; /* Exibe o ícone de seleção */
}
